[Unit]
Description=Run Tasmota Telegram Bot Every 5 Minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
